plugins/CommandSigns/signs.yml
orebfuscator_cache/*
logs/*
server.log
world/*
world_nether/*
world_the_end/*
banned-ips.txt
banned-players.txt
plugins/RealisticBiomes/plantData.sqlite
plugins/Essentials/items.csv
plugins/Essentials/upgrades-done.yml
plugins/Essentials/userdata/
plugins/Essentials/worth.yml
plugins/Essentials/warps
plugins/Factions/factions.json
plugins/Factions/players.json
plugins/Factions/tags.json
plugins/Factions/board.json
plugins/WorldEdit/worldedit.log.lck
plugins/Essentials/spawn.yml
plugins/dynmap/web/tiles/*
plugins/dynmap/world.pending
plugins/Cannons/Cannons.db

mstore/factions_board@default
mstore/factions_faction@default
mstore/factions_mplayer
mstore/factions_uconf@default
mstore/factions_uplayer@default

